<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/content.css" />
    <link rel="stylesheet" href="/styles/home-header.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Blog it</title>
  </head>
  <header>
    <nav class="navbar navbar-home">
      <div class="navbar-components">
        <div class="icon-search-container">
          <a href="">Blog it</a>
          <div class="search-container">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 22L20 20M21 11.5C21 16.7467 16.7467 21 11.5 21C6.25329 21 2 16.7467 2 11.5C2 6.25329 6.25329 2 11.5 2C16.7467 2 21 6.25329 21 11.5Z"
                stroke="#292D32"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <input type="text" placeholder="Search" />
          </div>
        </div>
        <div class="write-notif-user-container">
          <a href="" id="write-container">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4486 6.95159L17.0486 10.5516M4.44867 19.5516L8.81465 18.6719C9.04643 18.6252 9.25925 18.511 9.42639 18.3438L19.2001 8.56477C19.6687 8.09591 19.6683 7.33592 19.1993 6.86746L17.1289 4.79939C16.6601 4.33112 15.9005 4.33144 15.4321 4.8001L5.65743 14.5802C5.49062 14.7471 5.37672 14.9594 5.32997 15.1907L4.44867 19.5516Z"
                stroke="#292D32"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="write">Write</div>
          </a>
          <a href="" class="notif-icon">
            <svg
              width="30"
              height="30"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8333 2.83334H12.75C5.66665 2.83334 2.83331 5.66668 2.83331 12.75V21.25C2.83331 28.3333 5.66665 31.1667 12.75 31.1667H21.25C28.3333 31.1667 31.1666 28.3333 31.1666 21.25V14.1667M31.1666 7.08334C31.1666 9.43055 29.2639 11.3333 26.9166 11.3333C24.5694 11.3333 22.6666 9.43055 22.6666 7.08334C22.6666 4.73613 24.5694 2.83334 26.9166 2.83334C29.2639 2.83334 31.1666 4.73613 31.1666 7.08334Z"
                stroke="#292D32"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <div class="user-icon"></div>
        </div>
      </div>
    </nav>
  </header>
  <body></body>
</html>