<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/content.css" />
    <link rel="stylesheet" href="/styles/create-story.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Create Story ~ Blog it</title>
  </head>
  <header>
    <nav class="navbar" id="nav">
      <div class="navbar-container">
        <a class="navbar-logo" href="/home-page">Blog it</a>
        <div class="pub-user-container">
          <div class="publish-container">
            <a href="">Publish</a>
          </div>
          <div class="user-icon"></div>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <main>
      <div class="title-paragraph-container">
        <h1 contenteditable="true" class="TP" id="title">Title</h1>
        <p contenteditable="true" class="TP" id="body">Tell your story</p>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
