html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.navbar {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid black;
}

.navbar-logo {
    font-weight: 400;
    font-size: 2rem;
    color: black;
}

.lr {
    color: #242424;
    font-weight: 300;
    font-size: 1rem;
}

#register-container > a {
    color: white;
}
